body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6;
  width: 70%;
}

ul {
  padding: 0;
  list-style: none;
}

.github {
  display: flex;
  height: 56px;
  padding: 0 15px;
  align-items: center;
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  background: #0D1117;
  color: #fff;
}

.github-margin {
  margin-right: auto;
}

.icons {
  margin-right: 15px;
}

.plus-space {
  margin-right: 5px;
}

.github li {
  cursor: pointer;
}

.menu {
  margin-right: 15px;
}

.search {
  padding: 5px;
  border: .5px solid #30363d;
  border-radius: 5px;
  background-color: #000;
}
